*body{font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/*---navbar section starts ---*/
.nav-container{
    
    width: 1920px;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
   text-align: center;
}

.logo-container{
    display: flex;
    gap: 15px;
    margin-left: 240px;
    width: 50%;
   
}
.logo-container img{
   width: 86.041px;
    height: 40px;
    margin-top: 50px;

}
.nav-g{
    color: #FF42A5;
}
.logo-container p{
    
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.nav-items-container{
    
    display: flex;
    border-radius: 8px;
    text-align: center;
    gap: 30px;
    width: 50%;

}
.nav-items-container a{
    
    text-decoration: none;
    margin-top: 50px;
    margin-left: 100px;
    color: #3C354F;
    
}

/*---navbar section starts end---*/
.banner-container{
    display: flex;
    border: 2px solid red;
    
}
.banner-text{
    width: 50%;
    text-align: center;
    background: url(../images/Group\ 14.png);
    width: 901px;
    height: 700px;
    margin-left: 240px;


}
.banner-img{
    width: 50%;
    
    
    
}
.banner-text h3{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-img img{
    width: 80%;
    margin-bottom: 20px;
}
.banner-text h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}
.banner-text p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.banner-btn1{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-right: 5px;

}
.banner-btn2{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    margin-left: 5px;
}
/*---we are gamer here---*/
.We-are-gamer{
    border: 3px solid rgb(46, 7, 219);
    display: flex;
}
.We-are-gamer-text{
    text-align: right;
}
.We-are-gamer-img{ 
    margin-left:240px ;

}
.We-are-gamer-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 48px;
font-weight: 700;

}
.We-are-gamer-description{
    width: 520px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 

}
.We-are-gamer-btn{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
font-size: 20px;
font-weight: 600;

}
.We-are-gamer-text h5 span{
    width: 520px;
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}
.We-are-gamer-text h5{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
/*---we are gamer end---*/
/*---online gamer here---*/
.game-container{
   

}
.game-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;

}
.game-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.game-description{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}
.game-img{
    display: flex;
    gap: 24px;
    margin-right: 240px;
    margin-left: 240px;
}
.game-img p{
    font-weight: 500;
    line-height: 30px;
    font-size: 20px;
    color: #534C64;
    width: 342px;
}
/*---online gamer end---*/
/*---Play-Instantly here---*/
.Play-Instantly{
    display: flex;

}
.Play-Instantly-text{

    margin-left: 435px;
}
.Play-Instantly-text h3{
    
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; 

}
.Play-Instantly-text span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.Play-Instantly-description{
    width: 353px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    

}
.Play-Instantly-img{
    margin-right: 240px;
    width: 634.833px;
    height: 650px;
    margin-left: 280px;
}
/*---Play-Instantly end---*/